<section class="menu-s1 container-fluid d-flex minh-100vh align-items-start py-5">
    <div class="row mx-0 w-100 mt-5">
        <aside class="col-12 col-sm-5 col-md-4 col-lg-3 pt-5">
            <app-sidebar></app-sidebar>
        </aside>
        <div class="col-12 col-sm-7 col-md-8 col-lg-9">
            <app-list></app-list>
        </div>
    </div>
</section>