<section class="index-s2 container-fluid d-flex minh-25vh bg-dark align-items-center py-5">
    <div class="row mx-0 w-100">
        <div class="col-8 col-sm-5 col-md-4 p-3 mx-auto">
            <div class="card">
                <img class="card-img-top" src="img/" alt="img"/>
                <div class="card-body text-center">
                    <h5 class="card-title">
                        Sit amet
                    </h5>
                    <h6 class="card-subtitle mb-3">
                        Lorem ipsum dolor
                    </h6>
                    <p class="initialism text-muted">
                        Consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                    <a href="#1" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 p-3 mx-auto">
            <div class="card">
                <img class="card-img-top" src="img/" alt="img"/>
                <div class="card-body text-center">
                    <h5 class="card-title">
                        Sit amet
                    </h5>
                    <h6 class="card-subtitle mb-3">
                        Lorem ipsum dolor
                    </h6>
                    <p class="initialism text-muted">
                        Consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                    <a href="#2" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 p-3 mx-auto">
            <div class="card">
                <img class="card-img-top" src="img/" alt="img"/>
                <div class="card-body text-center">
                    <h5 class="card-title">
                        Sit amet
                    </h5>
                    <h6 class="card-subtitle mb-3">
                        Lorem ipsum dolor
                    </h6>
                    <p class="initialism text-muted">
                        Consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                    <a href="#3" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</section>