$prefix: "../../../assets/";
$bg__comingsoon-img: $prefix+"img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg",
    $prefix+"img/contact/contact-s3.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__index-img: 
    $prefix+"img/index/index-s1.jpg",
    "",
    $prefix+"img/index/index-s3.jpg",
    $prefix+"img/index/index-s4.jpg";
$bg__menu-img: $prefix+"img/menu/menu-s1.jpg";
$bg__privacy-img: $prefix+"img/privacy.jpg";
$bg__story-img: 
    $prefix+"img/story/story-s1.jpg",
    $prefix+"img/story/story-s2.jpg",
    $prefix+"img/story/story-s3.jpg",
    $prefix+"img/story/story-s4.jpg";
$bg__user-img: $prefix+"img/user/user-s1.jpg";
$bg__init:
    "comingsoon",
    "contact",
    "error",
    "index",
    "menu",
    "privacy",
    "story",
    "user";
$classes_init:
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__menu-img,
    $bg__privacy-img,
    $bg__story-img,
    $bg__user-img;
$footer-height: 41px;
$text__shadow: 1px 1px 3px #333;